body {
    background-color: $bag_color;
}

nav {
    #nav_img {
        padding: 15px 5px;
        width: 100%;
    }
    ul {
        @include Flex(space-around, center);
        width: 70%;
        color: white;

        .icon_relative {
            position: relative;

            .icon_absaulte {
                @include Absaulte(absolute, 27px, 60px, 18px);
            }
        }
        li {
            padding: 15px 7px;
            margin: 10px 15px;
            a {
                color: $a_color;
                @include A_link(14px 5px, 14px, 700);
                &:hover {
                    cursor: pointer;
                    color: $a_color;
                }
            }
        }
    }
    @media only screen and (max-width: 500px) {
        ul {
            display: none;
        }
        h1 {
            font-size: 35px;
            font-weight: 500;
        }
    }
}

main {
    #mobil_look {
        h1 {
            font-size: 70px;
            color: white;
            opacity: 1;
        }
        p {
            @include P_text(#9b9b9b, 16px, 500, 1.8, 0.7, 50px);
        }
        @media only screen and (max-width: 500px) {
            h1 {
                font-size: 46px;
                font-weight: 700;
            }
            p {
                // color: #9b9b9b;
                // font-size: 18px;
                // font-weight: 500;
                // line-height: 1.8;
                // opacity: 0.7;
                @include P_text(#9b9b9b, 18px, 500, 1.8, 0.7, 5px);
                margin: 0;
                padding: 15px 0;
                text-align: center;
            }
        }
    }
    #partners_id {
        background-color: #121319;
        height: 700px;
        #partners {
            margin-left: 40px;
            h2 {
                color: white;
                font-size: 40px;
                text-align: center;

                span {
                    position: relative;

                    img {
                        position: absolute;
                        top: 5px;
                        left: 0px;
                        width: 80%;
                    }
                }
            }

            #hover_img {
                img {
                    width: 90%;
                    margin-left: 40px;
                    opacity: 0.6;
                    transition: 0.4s all;
                    &:hover {
                        transition: all 0.4s;
                        opacity: 1;
                        transform: translateY(-10px);
                    }
                }
            }
        }
        @media only screen and (max-width: 500px) {
            #hover_img {
                img {
                    max-width: 50%;
                    display: flex;
                }
            }
            .delete {
                display: none;
            }
        }
    }

    #button {
        .app_button {
            min-width: 220px;
            text-align: center;
            padding: 15px 30px;
            font-weight: 600;
            border-radius: 30px;
            background: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
            gap: 20px;
            color: white;
            &:hover {
                background-color: #f45162;
            }
        }

        .play_button {
            min-width: 220px;
            text-align: center;
            padding: 15px 30px;
            font-weight: 600;
            border-radius: 30px;
            background-color: black;
            border: 1px solid white;
            color: white;
        }
    }

    #vie_react_photo {
        @media only screen and (max-width: 500px) {
            img {
                margin-top: 70px;
            }
        }
    }
    .appliaction {
        h6 {
            position: relative;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            background-color: #f45162;

            span {
                width: 25px;
                height: 25px;
                border: 1px solid white;
                border-radius: 20px;
                position: absolute;
                top: 5px;
                left: 10px;
                color: white;
            }
        }
        .custim {
            font-size: 22px;
            color: #f45162;
            margin-left: 20px;
            padding: 0 15px;
            font-weight: 700;
        }

        h2 {
            color: wheat;
            font-size: 42px;
            padding-top: 40px;
        }

        .sed_text {
            color: #9b9b9b;
            font-size: 24px;
            font-weight: 700;
            line-height: 1.7;
            padding-top: 20px;
            opacity: 0.7;
        }

        button {
            min-width: 220px;
            text-align: center;
            padding: 15px 30px;
            font-weight: 600;
            border-radius: 30px;
            background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
            margin-top: 40px;
            color: white;
        }

        a {
            color: white;
            border-bottom: 1px solid white;
            padding: 10px;
            font-weight: 600;
            font-size: 18px;
        }

        #check {
            display: flex;
            // margin-top: 50px;
            .box {
                position: relative;
                width: 20px;
                height: 20px;
                background-color: #f45162;
                border-radius: 20px;
                display: flex;
                margin-top: 25px;

                i {
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            p {
                color: white;
                width: 50%;
                margin-left: 15px;
                margin-top: 25px;
                font-size: 14px;
                font-weight: 600;
            }
        }
        @media only screen and (max-width: 500px) {
        }
    }
    #links {
        #link_content {
            h6 {
                position: relative;
                width: 25px;
                height: 25px;
                border-radius: 20px;
                background-color: #f45162;
                margin-top: 40px;
                span {
                    width: 25px;
                    height: 25px;
                    border: 1px solid white;
                    border-radius: 20px;
                    position: absolute;
                    top: 5px;
                    left: -15px;
                    color: white;
                }
            }
        }

        .links {
            color: white;
            font-weight: 700;
            font-size: 60px;
            line-height: 1.4;
        }

        .text {
            color: #9b9b9b;
            opacity: 0.6;
            font-size: 20px;
            font-weight: 600;
        }

        button {
            min-width: 220px;
            height: 60px;
            text-align: center;
            padding: 15px 30px;
            font-weight: 600;
            border-radius: 30px;
            border: 1px solid #f45162;
            background-color: black;
            color: white;
            margin-top: 30px;
        }
        span {
            font-size: 18px;
            font-weight: 600;
            border-bottom: 1px solid white;
            padding: 5px 0;
            color: white;
            margin-left: 25px;
        }
        @media only screen and (max-width: 500px) {
            .links {
                p {
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 1.4;
                }
            }
            .text {
                color: #9b9b9b;
                opacity: 0.6;
                font-size: 20px;
                font-weight: 600;
                padding: 15px 0;
                line-height: 1.6;
            }
        }
    }

    .mobil_photo {
        img {
            max-width: 100%;
            object-fit: contain;
            height: 600px;
        }
        @media only screen and (max-width: 500px) {
            .mobil_photo {
                img {
                    width: 100%;
                }
            }
        }
    }
    #fon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202123;
        h6 {
            position: relative;
            width: 25px;
            height: 25px;
            border-radius: 20px;
            background-color: #f45162;
            margin-top: 40px;
            text-align: center;

            span {
                width: 25px;
                height: 25px;
                border: 1px solid white;
                border-radius: 20px;
                position: absolute;
                top: 5px;
                left: 15px;
                color: white;
            }
        }
        p {
            font-size: 22px;
            color: #f45162;
        }
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }
    h3 {
        color: white;
        font-size: 38px;
        text-align: center;
        font-weight: 800;
        padding: 15px 0;
        background-color: #202123;
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }

    #Application_Features {
        background-color: #202123;
        .features {
            width: 100%;
            height: 200px;
            border-radius: 10px;
            background-color: #252527;
            i {
                color: #f45162;
                font-size: 28px;
                padding: 25px;
                // transform: skewY(-35deg);
            }
            span {
                color: white;
                font-size: 24px;
                font-weight: 600;
            }
            p {
                color: #9b9b9b;
                font-size: 24px;
                padding: 15px;
            }
        }
        @media only screen and (max-width: 500px) {
        }
    }

    #swiper {
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            object-fit: cover;
        }
    }
    #Compalte_Projects {
        .complate_could {
            width: 90%;
            height: 250px;
            border: 1px solid rgb(78, 77, 77);
            border-radius: 10px;

            i {
                font-size: 45px;
                color: #f45162;
                text-align: center;
                padding: 30px 15px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h1 {
                text-align: center;
                font-size: 24px;
                font-weight: 600;
                color: #fff;
            }

            .step {
                text-align: center;
                font-size: 18px;
                color: #f45162;
                padding: 15px;
            }

            p {
                font-size: 18px;
                color: #9b9b9b;
                text-align: center;
                opacity: 0.6;
            }
        }
    }

    #vidie {
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            width: 70%;
            margin-top: 40px;
        }

        @media only screen and (max-width: 500px) {
            iframe {
                width: 100%;
            }
        }
    }
    #team {
        .img_relative {
            position: relative;
            transition: 0.2s ease-in-out;

            .hover_absaulte {
                .left {
                    width: 200px;
                    height: 220px;
                    border: 1px solid #9b9b9b;
                    position: absolute;
                    top: 3px;
                    left: -15px;
                    border-radius: 50%;
                    z-index: -4;
                }
                .bottom {
                    width: 220px;
                    height: 220px;
                    border: 1px solid #9b9b9b;
                    position: absolute;
                    top: 25px;
                    left: 30px;
                    border-radius: 50%;
                    z-index: -4;
                    background-color: #f45162;
                }
                p {
                    color: white;
                    font-size: 24px;
                    font-weight: 600;
                    margin-left: 45px;
                    padding: 25px 0;
                }
                .info {
                    color: #9b9b9b;
                    font-size: 18px;
                    font-weight: 400;
                    padding: 0;
                    opacity: 0.6;
                }
            }
            &:hover {
                .bottom {
                    background: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
                }
            }
        }
    }
    #Mobile_Application {
        height: 700px;
        width: 100%;

        #free_package {
            height: 600px;
            border: 1px solid transparent;
            background-color: #111215;

            border: 1px solid white;
            h2 {
                color: white;
                text-align: center;
                padding: 15px;
                font-weight: 700;
                line-height: 1.3;
                font-size: 24px;
            }
            span {
                color: white;
                font-weight: 700;
                font-size: 25px;
                display: flex;
                justify-content: center;

                p {
                    color: #f45162;
                    font-size: 100px;
                    font-weight: 700;
                    line-height: 1;
                }
            }

            button {
                width: 80%;
                height: 70px;
                text-align: center;
                color: #fff;
                background-color: #252527;
                border: none;
                border-radius: 50px;
                padding: 15px;
                margin-left: 50px;
                font-size: 24px;
                font-weight: 600;
                margin-top: 25px;
            }
            #check {
                display: flex;
                align-items: center;
                padding: 0 5px;
                margin-left: 25px;
                .box {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    background-color: #f45162;
                    border-radius: 20px;
                    display: flex;
                    margin-top: 25px;

                    i {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                p {
                    color: white;
                    width: 50%;
                    margin-left: 15px;
                    margin-top: 25px;
                    font-size: 14px;
                    font-weight: 600;
                }

                .opacity_text {
                    width: 50%;
                    margin-left: 15px;
                    margin-top: 25px;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                    opacity: 0.3;
                }
            }
        }

        #Free_Package {
            height: 600px;
            border: 1px solid transparent;
            background-color: #202123;

            h2 {
                color: white;
                text-align: center;
                padding: 15px;
                font-weight: 700;
                line-height: 1.3;
                font-size: 24px;
            }
            span {
                color: white;
                font-weight: 700;
                font-size: 25px;
                display: flex;
                justify-content: center;

                p {
                    color: #f45162;
                    font-size: 100px;
                    font-weight: 700;
                    line-height: 1;
                }
            }

            button {
                width: 80%;
                height: 70px;
                text-align: center;
                color: #fff;
                background-color: #252527;
                border: none;
                border-radius: 50px;
                padding: 15px;
                margin-left: 50px;
                font-size: 24px;
                font-weight: 600;
                margin-top: 25px;
                background: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
            }
            #check {
                display: flex;
                align-items: center;
                padding: 0 5px;
                margin-left: 25px;
                .box {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    background-color: #f45162;
                    border-radius: 20px;
                    display: flex;
                    margin-top: 25px;

                    i {
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                p {
                    color: white;
                    width: 50%;
                    margin-left: 15px;
                    margin-top: 25px;
                    font-size: 14px;
                    font-weight: 600;
                }

                .opacity_text {
                    width: 50%;
                    margin-left: 15px;
                    margin-top: 25px;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                    opacity: 0.3;
                }
            }
        }
        @media only screen and (max-width: 500px) {
            #check {
                display: flex;
                justify-content: center;
                flex-direction: row;
            }
        }
    }

    // #About_Services {
    //     width: 100%;
    //     height: 650px;

    //     background-color: #202123;

    //     .swiper_comment {
    //         // width: 100%;
    //         height: 500px;

    //         .swiper {
    //             width: 100%;
    //             height: 100%;
    //         }

    //         .swiper-slide {
    //             text-align: center;
    //             font-size: 18px;
    //             display: -webkit-box;
    //             display: -ms-flexbox;
    //             display: -webkit-flex;
    //             display: flex;
    //             -webkit-box-pack: center;
    //             -ms-flex-pack: center;
    //             -webkit-justify-content: center;
    //             justify-content: center;
    //             -webkit-box-align: center;
    //             -ms-flex-align: center;
    //             -webkit-align-items: center;
    //             align-items: center;

    //             .img {
    //                 // width: 10%;
    //                 // height: 150px;
    //                 object-fit: contain;
    //             }
    //         }
    //         .card_swiper_second {
    //             background-color: #111215;
    //             padding: 20px;
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //             justify-content: center;
    //             height: 500px;
    //             .img_swiper {
    //                 img {
    //                     // width: 70px;
    //                     // height: 70px;
    //                     object-fit: cover;
    //                 }
    //                 @media only screen and (max-width: 500px) {
    //                     // display: none;
    //                 }

    //             }
    //             .swiper_img_pp {
    //                 img {
    //                     // width: 50px;
    //                     // height: 50px;
    //                     object-fit: cover;
    //                 }
    //             }
    //             .text_swiper,
    //             .swiper_name {
    //                 color: #9b9b9b;
    //             }
    //             &:hover {
    //                 border: 1px solid wheat;
    //             }
    //         }
    //     }
    //     @media only screen and (max-width: 500px) {
    //         display: none;
    //     }
    // }

    #download_app {
        width: 80%;
        height: 400px;
        margin-left: 10%;
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

        .img_color {
            margin: -70px 0;

            @media only screen and (max-width: 500px) {
                img {
                    max-width: 100%;
                }
            }
        }
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }

    .left_item {
        position: relative;

        ::after {
            content: "";
            width: 20px;
            height: 20px;
            border-radius: 50px;
            position: absolute;
            top: 15px;
            left: 15px;
            border: 1px solid white;
            background-color: white;
            margin-top: 20px;
        }

        ::before {
            content: "";
            width: 25px;
            height: 25px;
            border-radius: 50px;
            position: absolute;
            top: 20px;
            left: 20px;
            border: 1px solid white;
            margin-top: 20px;
        }
        .left_text {
            p {
                padding: 35px 50px;
                color: white;
                font-size: 24px;
                font-weight: 600;
            }
            h2 {
                color: white;
                font-size: 42px;
                font-weight: 600;
                line-height: 1.8;
            }
        }
        #button {
            .app_button {
                min-width: 220px;
                text-align: center;
                padding: 15px 30px;
                font-weight: 600;
                border-radius: 30px;
                background-color: white;
                gap: 20px;
                border: 1px solid transparent;
            }

            .play_button {
                min-width: 220px;
                text-align: center;
                padding: 15px 30px;
                font-weight: 600;
                border-radius: 30px;
                background-color: transparent;
                color: white;
                border: 1px solid white;
            }
        }
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }

    #blog {
        background-color: #111215;
        height: 400px;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 30px;
        }

        background-color: #202123;
        width: 100%;
        height: 350px;

        padding: 0;
        margin: 0;

        .arts {
            color: #f45162;
            font-size: 14px;

            padding: 15px;
        }

        h5 {
            color: white;
            font-size: 24px;
            font-weight: bold;
            padding: 15px 20px;
            line-height: 1.5;
        }

        p {
            color: white;
            padding: 15px;
            span {
                color: #9b9b9b;
            }
        }

        button {
            padding: 11px 30px;
            min-width: auto;
            margin-top: 20px;
            font-size: 14px;
            border: 1px solid #f45162;
            border-radius: 30px;
            background-color: #202123;
            color: white;
            margin-left: 25px;
            &:hover {
                background: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
            }
        }
        @media only screen and (max-width: 500px) {
            margin-top: 600px;
        }
    }
}

footer {
    width: 100%;
    height: 300px;
    background: rgb(180, 58, 157);
    background: linear-gradient(
        90deg,
        rgb(83, 48, 76) 2%,
        rgba(83, 82, 82, 1) 6%,
        rgba(0, 0, 0, 1) 90%,
        rgba(148, 39, 39, 1) 100%,
        rgba(214, 56, 56, 1) 100%,
        rgba(252, 176, 69, 1) 100%,
        rgba(255, 105, 226, 0.8606793059020483) 15555%
    );

    .sed {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        padding: 15px 0;
        opacity: 0.7;
        color: #dad6d6;
    }

    #Resources {
        width: 100%;
        height: 450px;

        h5 {
            font-size: 24px;
            color: white;
            font-weight: 700;
        }

        ul {
            cursor: pointer;
            li {
                padding: 15px 0;
                i {
                    color: #9b9b9b;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }

    #social {
        h5 {
            font-size: 22px;
            color: #fff;
            font-weight: 700;
        }

        p {
            color: #9b9b9b;
            font-weight: 400;
            padding: 15px 0;
        }

        .mail {
            color: white;
            font-size: 20px;
            font-weight: 600;
        }

        #icon {
            gap: 10px;
            display: flex;
            i {
                color: white;

                text-align: center;
                border-radius: 30px;
                padding: 10px;
                border: 1px solid;
            }
        }
    }
    @media only screen and (max-width: 500px) {
        margin-top: 800px;

        #Resources {
            height: 200px;
        }
    }
}

// 1062 setr

#loader {
    position: fixed;
    top: 0;
    left: 0;
    background: lightgray;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
 .dispear {
    animation: reload 1s forwards;
 }
@keyframes reload {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}